<div class="container">
  <h1>Edit tasks</h1>
   <strong> <%= @task.title %>
  <%= check_box_tag "task[completed]", @task.completed, @task.completed %> </strong>
  <p> <%= @task.details %> </p>
  <p>-----------------------------------</p>

  <%= render 'form', task: @task %>
  <%= link_to 'Back', tasks_path %>
</div>
